/* Landing Solutions */
.col {
    text-align: center;
    padding-bottom: 5%;
}

.container i{
    position: relative;
    position: absolute;
    align-items: center;
    margin: 50px;
    padding-top: 6px;
}

#circles{
    width: 200px;
}

#laptop{
    position: absolute;
    padding-right: 10%;
}

#task{
    position: absolute;
    padding-left: .75%;
}

#calendar{
    position: absolute;
    padding-left: .5%
}
.container{
    display: grid;
    size: 10%;
}
.container h1{
    font-size: 100%;
    font-weight: bold;
}

.container p{
    font-size: 70%;
    font-weight: bold;
    margin: 0%;
}

.container input{
    padding-left: 6.5%;
    padding-right: 6.5%;
    background: white;
    border-radius: 5px;
}

/* NavBar */
.nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

li {
    display: inline;
    text-align: center;
    text-decoration: none;
    padding: 40px;
}

li a{
    text-decoration: none;
}
/* focus on business */
.flexbox-container-focus {
    display: flex; 
}
.flexbox-item-focus {
    margin: 100px;
}

.flexbox-item-pic {
    margin: 100px;
    padding-top: 10px;
    padding-right: 0px;
}

.flexbox-item-focus p {
    color: gray;
}

.container-start {
    text-align: center;
}

.start {
    margin: 0 250px 0 250px;
}

.start h1 {
    margin: 0 0 0 0
}

/* Footer */
footer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color:  rgb(9, 85, 248);
    color: white;

}

h1 {
    padding-top: 75px;
    padding-bottom: 25px;
}

.getstarted {
    font-size: medium;
}

#getstartedbtn {
    align-content: center;
    margin-right: 100px;
    color: white;
    background-color: rgb(123, 230, 17);
    font-size: x-large;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px;
}

#chatwithusbtn {
    align-content: center;
    color: rgb(9, 85, 248);
    background-color: white;
    font-size: x-large;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px;
}

.lastline  {
    background-color:rgb(9, 85, 248);
    font-size: medium;
    padding: 50px;
}

/* Start Accepting Payments with Ease */
.flexbox-container-1 {
    display: flex;
    justify-content: center;
    margin: 0px 200px 0px 200px;
    border: solid lightgray 2px;
    border-radius: 20px;
    align-items: center;
}

.flexbox-item {
    display: flexbox;
    width: 80%;
    margin: 0;
    height: 100px;
}

.flexbox-item-1 { 
    height: 250px;
    width: auto;
    background-color: white;
}

.flexbox-item-2 {
    padding: 70px 40px;
    color: white;
    height: 100%;
    font-size: small;
    line-height: 20px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(9, 85, 248);
    margin-top: 0px
}
.flexbox-text{
    margin-top: -80px
}

.btn-secondary {
    background-color: transparent;
    color: white;
    border-color: white;
    font-size: 10px;
}

#credit-card {
    width: 100%;
}

/* Start to Explore DoubleTap */
#explore {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 300px;
    margin-right: 250px;
    justify-content: center;
}
hr{
    width: 60%;
    margin: auto
}

h3{
    font-weight: 100;
}
.start{
    text-align: center;
    margin-top: -20px
}

.grid-item-explore {
    border: solid lightgray 2px;
    border-radius: 25px;
    margin: 50px;
    padding: 10px;
    height: 25vh;
    font-size: small;
    text-align: center;
    padding-bottom: 0px;
}

#image-row1 {
    align-items: center;
    position: relative;
    margin: 30px 50px 15px 50px;
    padding-top: 0px;
    z-index: -1;
    
}
.grid-item-explore i{
    position: relative;
    align-items: center;
    
}
#dollar-sign{
    align-items: center;
    position:absolute;
    padding-left: 80px;
    padding-top: 40px;    
}

.grid-item {
    border: solid lightgray 2px;
    border-radius: 25px;
    margin: 50px;
    margin-bottom: 200px;
    padding: 10px;
    height: 25vh;
    font-size: small;
    text-align: center;
    padding-bottom: 0px;
}

#image2-row1{
    align-items: center;
    position: relative;
    margin: 30px 65px 15px 65px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#image3-row1{
    align-items: center;
    position: relative;
    margin: 5px 50px 15px 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#image4-row1{
    align-items: center;
    position: relative;
    margin: 5px 50px 15px 50px;
    padding-top: 15px;
    padding-bottom: 43px;
}
